include LICENSE
include README.md
include CHANGELOG.md
include CONTRIBUTING.md
include INSTALL.md
include requirements.txt
include goalin.service
include goalin.desktop
include PKGBUILD
recursive-include src *.py
